@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@font-face {
  font-family: "Space";
  src: url("css/fonts/space-quest-font/SpaceQuest-yOY3.ttf");
}
@font-face {
  font-family: "SpaceTilt";
  src: url("css/fonts/space-quest-font/SpaceQuestItalic-g8jY.ttf");
}
body {
  margin: 0 auto;
  height: 100%;
  padding: 5em;
  background: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: "Space Grotesk", sans-serif;
}

ol, ul {
  text-decoration: none;
  list-style: none;
}

li {
  margin-top: 10px !important;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #fff;
  border: 3px solid #671bf3;
  border-radius: 1px 1px 1px 1px;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  height: 100px;
}
.square:focus {
  outline: none;
  transform: scale(1);
  animation: pulse-black 2s infinite;
}

@keyframes pulse-black {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(167, 151, 255, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(167, 151, 255, 0.7);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(167, 151, 255, 0.7);
  }
}
.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  background-color: rgba(64, 9, 167, 0.048);
  padding: 100px;
  border-radius: 10px 10px;
}

.game-board {
  margin-left: 200px;
}
.game-board .square {
  color: #3f3f3c;
  text-shadow: 2px 2px #94d6c6;
  font-size: 30px;
  font-family: "Fredoka One", cursive;
}

.game-info {
  padding: 20px 20px 0px 20px;
  text-align: center;
  color: #ffffff;
  border: 3px solid rgba(255, 255, 255, 0.918);
  background: #671bf3;
  min-height: 300px;
}

.game-status {
  font-family: "Space";
  font-size: 30px;
  color: #ffffff;
  background: #671bf3;
}

.game-moves {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  font-family: "Space Grotesk", sans-serif;
}

.btn-prim {
  background: #d6fff5 !important;
  color: #131313 !important;
  font-weight: 500 !important;
  font-size: 17px !important;
  border: 3px solid #262627 !important;
}
.btn-prim:focus {
  outline: none !important;
}

.game-title {
  font-family: "Space";
  font-size: 75px;
  text-align: center;
  color: #ffffff;
  outline-style: solid;
  background: #671bf3;
}

.pre-title {
  font-family: "Space Grotesk", sans-serif;
  font-size: 33px;
  text-align: center;
  color: #f8e076;
  letter-spacing: 3px;
  line-height: 1.6;
  font-weight: 900;
  text-shadow: 3px 3px 3px rgba(74, 22, 196, 0.945);
}

.game-space {
  margin-top: 70px !important;
  margin-bottom: -20px;
}

@media only screen and (max-width: 700px) {
  body {
    background-size: cover;
    padding: 1;
    margin: 0 auto;
  }

  .square {
    width: 50px;
    height: 50px;
  }

  .game {
    display: block;
    padding: 1;
  }

  .game-info {
    height: 100%;
    padding: 1em;
    width: auto;
  }

  .game-status, .game-moves {
    height: 100%;
    padding: 1em;
  }

  .game-board {
    margin-left: 30px;
    padding-bottom: 80px;
    margin-top: -50px;
  }
}

/*# sourceMappingURL=index.css.map */
